# `rightmove_webscraper.py`
# Example - Get Rental Data

In [1]:
import os, sys
sys.path.append(os.path.dirname(os.getcwd()))
from rightmove_webscraper import RightmoveData

Create an instance of the class with a URL copied from the rightmove website after performing a specific search:

In [2]:
url = "https://www.rightmove.co.uk/property-to-rent/find.html?searchType=RENT&locationIdentifier=REGION%5E94346"
rmd = RightmoveData(url)
rmd.results_count

16

The `average_price` attribute gives the mean price of all results returned:

In [3]:
print(f"£{rmd.average_price:,.0f}")

£3,084

The `summary` attribute creates a Pandas DataFrame summarising the results by count and mean price:

In [4]:
rmd.summary()

   number_bedrooms  count         mean
0                0      1  1950.000000
1                1      6  2246.666667
2                2      8  3615.375000
3                3      1  4983.000000

By default `summary` is group by number of bedrooms, but can also be grouped by any column in the DataFrame at the `get_results` attribute:

In [5]:
rmd.summary(by="postcode")

  postcode  count         mean
0     SW11     12  3181.416667
1      SW8      1  3250.000000

The `get_results` attribute returns all listings in a Pandas dataframe:

In [6]:
rmd.get_results.tail()

,price,type,address,url,agent_url,postcode,number_bedrooms,search_date
11,4983,3 bedroom flat,"Valetta House, 336 Queenstown Road, London, SW11",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,SW11,3,2019-10-07 21:18:53.316475
12,1950,Studio apartment,"#4662, Pearce House, 8 Circus Road West, Batte...",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,NaN,0,2019-10-07 21:18:53.316475
13,2817,2 bedroom apartment,"#4474, Pearce House, 8 Circus Road West, Batte...",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,NaN,2,2019-10-07 21:18:53.316475
14,3684,2 bedroom flat,"Aurora Gardens, Wandsworth, London, SW11",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,SW11,2,2019-10-07 21:18:53.316475
15,3140,2 bedroom apartment,"Circus Road West, Nine Elms, SW11",http://www.rightmove.co.uk/property-to-rent/pr...,http://www.rightmove.co.uk/estate-agents/agent...,SW11,2,2019-10-07 21:18:53.316475