# `rightmove_webscraper.py`
# Example - Get Sale Data

In [1]:
# Setup:
import os, sys
sys.path.append(os.path.dirname(os.getcwd()))
from rightmove_webscraper import RightmoveData

Create an instance of the class with a URL copied from the rightmove website after performing a specific search:

In [2]:
url = "https://www.rightmove.co.uk/property-for-sale/find.html?\searchType=SALE&locationIdentifier=REGION%5E94346"
rmd = RightmoveData(url)
rmd.results_count

76

The `average_price` attribute gives the mean price of all results returned:

In [3]:
print(f"£{rmd.average_price:,.0f}")

£2,198,077

The `summary` attribute creates a Pandas DataFrame summarising the results by count and mean price:

In [4]:
rmd.summary()

   number_bedrooms  count          mean
0                0      9  9.949944e+05
1                1     16  1.103997e+06
2                2     37  1.810404e+06
3                3     12  5.695833e+06
4                4      1  5.100000e+06

By default `summary` is group by number of bedrooms, but can also be grouped by any column in the DataFrame at the `get_results` attribute:

In [5]:
rmd.summary(by="postcode")

  postcode  count          mean
0      SW8     23  3.516304e+06
1     SW11     21  1.275857e+06

The `get_results` attribute returns all listings in a Pandas dataframe:

In [6]:
rmd.get_results.tail()

,price,type,address,url,agent_url,postcode,number_bedrooms,search_date
71,710000.0,1 bedroom apartment for sale,"Scott House, 23 Circus Road West, London, SW11",http://www.rightmove.co.uk/property-for-sale/p...,http://www.rightmove.co.uk/estate-agents/agent...,SW11,1,2019-10-07 21:19:48.578749
72,700000.0,1 bedroom apartment for sale,"Dawson House, Battersea Power Station, London,...",http://www.rightmove.co.uk/property-for-sale/p...,http://www.rightmove.co.uk/estate-agents/agent...,SW11,1,2019-10-07 21:19:48.578749
73,675000.0,1 bedroom apartment for sale,"Scott House, Battersea Power Station, SW11",http://www.rightmove.co.uk/property-for-sale/p...,http://www.rightmove.co.uk/estate-agents/agent...,SW11,1,2019-10-07 21:19:48.578749
74,550000.0,Studio apartment for sale,"Pearce House, Battersea Power Station, Batters...",http://www.rightmove.co.uk/property-for-sale/p...,http://www.rightmove.co.uk/estate-agents/agent...,SW11,0,2019-10-07 21:19:48.578749
75,540000.0,1 bedroom flat for sale,"Pearce House, Battersea Power Station, 8 Circu...",http://www.rightmove.co.uk/property-for-sale/p...,http://www.rightmove.co.uk/estate-agents/agent...,SW11,1,2019-10-07 21:19:48.578749